/* .flex-box-container, input-flex-box {
    border: 1px solid black ;
    width: 70%;
    margin: 0 auto ;
    text-align:justify;
    justify-content:left;
    padding: 0px;

} */

.flex-box-container {
    border: 1px solid black ;
    width: 70%;
    margin: 0 auto ;
    text-align:justify;
    justify-content:left;
    padding: 0px;


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.input-flex-box {
    padding: 12px;
    font-size: 16px;
}

/* Default styles for the table */
.table-responsive {
    overflow-x: auto;
  }
  
  /* Media query for screens smaller than 768px (typical mobile devices) */
  @media (max-width: 768px) {
    /* Adjust styles for mobile devices */
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */
    }
  
    /* Optional: Hide certain table columns on smaller screens if necessary */
    #user-list-table th:nth-child(4),
    #user-list-table td:nth-child(4) {
      display: none;
    }
  
    #user-list-table th:nth-child(5),
    #user-list-table td:nth-child(5) {
      display: none;
    }
  }
  